.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;

    justify-content: center;
    align-items: center;
    border: 2px solid gray;
    border-radius: 3px;
    font-size: 10px;
    background: yellow; /* best colour */

}

.container {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-flow: dense;
}
.item:nth-child(even) {
    background: dodgerblue;
    grid-column: span 2;
    grid-row: span 2
}
.item:nth-child(3n) {
    background: greenyellow;
    grid-column: span 1;
    grid-row: span 1;
}
/*}*/
.item:nth-child(8n){
    background: tomato;
    grid-row: span 3;
}
.item:nth-child(9n){
    grid-row: span 3;
    background: powderblue;
}


