/** { box-sizing: border-box; }*/

body {
    height: 800px;
    font-family: sans-serif;
    background-color: black;
    /*border: 1px solid white;*/
    /*background-image: url("http://www.baltana.com/files/wallpapers-1/Nebula-Background-Wallpaper-05468.jpg");*/
    /* Full height */
    /*height: 120%;*/
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*margin-left: 4%;*/
    /*margin-right: 2%;*/
    /*-webkit-text-stroke: 0px!important;-webkit-font-smoothing: antialiased !important;*/

}


.scene {
    display: flex;
    border: 1px solid green;
    justify-content: center;
    position: center;
    /*margin-left: 40px;*/
    /*position: relative;*/
    width: 640px;
    height: 480px;
    margin: 45px auto;

    margin-top: 150px;
    perspective: 1000px;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform .4s;
}

.carousel__cell {
    position: absolute;
    width: 640px;
    height: 480px;
    left: 10px;
    top: 10px;
    border: 2px solid white;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;

    margin-top: 15%;!important;
    /*align-items: center;*/
    /*border: solid orange 1px;*/
}
.previous-button{
    /*design button*/
}
.next-button{
    /*design button*/

}

.carousel__cell:nth-child(4n+1)
{ background: hsla(0, 100%, 50%, 0); }
.carousel__cell:nth-child(4n+2)
    /*first was increments of 0, 90,180,270 degrees and the last was 0.8*/
{ background: hsla(0, 100%, 50%, 0); }
.carousel__cell:nth-child(4n+3)
{ background: hsla(0, 100%, 50%, 0); }
.carousel__cell:nth-child(4n+4)
{ background: hsla(0, 100%, 50%, 0); }
.carousel__cell:nth-child(4n+5)
{ background: hsla(0, 100%, 50%, 0); }
/*.carousel__cell:nth-child(4n+6) { background: hsla(200, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(4n+7) { background: hsla(240, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(4n+8) { background: hsla(280, 100%, 50%, 0.8); }*/
/*.carousel__cell:nth-child(4n+0) { background: hsla(320, 100%, 50%, 0.8); }*/

.carousel__cell:nth-child(1) { transform: rotateY( -.5deg) translateZ(650px); }
.carousel__cell:nth-child(2) { transform: rotateY(72deg) translateZ(650px); }
.carousel__cell:nth-child(3) { transform: rotateY(144deg) translateZ(650px); }
.carousel__cell:nth-child(4) { transform: rotateY(216deg) translateZ(650px); }
.carousel__cell:nth-child(5) { transform: rotateY(288deg) translateZ(650px); }
/*.carousel__cell:nth-child(6) { transform: rotateY(200deg) translateZ(700px); }*/
/*.carousel__cell:nth-child(7) { transform: rotateY(240deg) translateZ(700px); }*/
/*.carousel__cell:nth-child(8) { transform: rotateY(280deg) translateZ(700px); }*/
/*.carousel__cell:nth-child(9) { transform: rotateY(320deg) translateZ(700px); }*/

/*#if1{*/
    /*background-color: black;*/
    /*object-fit: cover;*/
    /*height: 100%;*/
    /*width: 100%;*/

/*}*/

@media screen and (min-width: 321px) and (max-width:480px) {
    body {
        /*display: flex;*/
        /*background-color: darkblue;*/
        /*margin-left: 5%;*/
        /*padding-left: 5%;*/
    }
    .scene{
        justify-content: center;
        margin-left: 40%;
    }
    .carousel{
        justify-content: center;

    /*margin-left: 15%;*/
}
    .buttons {
        /*display: flex;*/
        /*justify-content: center;*/
        margin-top: 50%;
        margin-left: 450px;
    }

}
    /*.carousel__cell{*/
        /*position: absolute;*/
        /*width: 320px;*/
        /*height: 240px;*/
        /*left: 10px;*/
        /*top: 10px;*/
        /*border: 2px solid white;*/
        /*line-height: 116px;*/
        /*font-size: 80px;*/
        /*font-weight: bold;*/
        /*color: white;*/
        /*text-align: center;*/
    /*}*/
    /*.scene {*/
        /*display: flex;*/
        /*border: 1px solid green;*/
        /*!*justify-content: center;*!*/
        /*position: center;*/
        /*!*margin-left: 40px;*!*/
        /*!*position: relative;*!*/
        /*width: 320px;*/
        /*height: 240px;*/
        /*margin: 60px auto;*/
        /*margin-top: 150px;*/
        /*perspective: 1000px;*/
    /*}*/

/*}*/
