body{

}
.container{
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 300px 300px 70px
}
.item1{
    background-color: green;
    grid-column: 1/-1;
}
.item2{
    background-color: orange;
    grid-column: 1/4;
    grid-row:2/4;

}

.item3{
    background-color: aquamarine;
    grid-column: 4/6;
    grid-row: 2/4;
}
.item4{

    background-color: grey;
    grid-column: 1/-1;
}
