/*602 x 480 media query*/
body {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    /*background: transparent;*/
    border: none;
    border-radius: 3px;
    /*padding: 0em 2em 2em 1em;*/
    font-size: 1em;
    background-image: url("http://images.all-free-download.com/images/graphicthumb/black_pattern_vintage_backgrounds_vector_536697.jpg");
}

.item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: transparent;
    border: solid darkgoldenrod 1px;
    opacity: .94;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 55px 35px 120px 35px 60px 70px 32px;
}
/*title bar*/
.item1 {
    display: flex;
    margin-top: 0px;
    /*background-color: grey;*/
    grid-column: 1 / -1;
    font-size: 13px;
}
 h1{
     font-family: 'Permanent Marker', cursive;
     align-items: center;
     color: black;
 }
.item2 {
    /*background-color: black;*/
    grid-column: 2 / 14;
    grid-row: 2 / 6;
    color: black;
}

/*this is content for the about me*/
.title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.content {
    text-align: center;
    margin-top: -50px;
}

h3 {
    /*font-family: 'Permanent Marker', cursive;*/
    font-size: 15px;
}

.item3 {
    /*background-color: grey;*/
    grid-column: 1/2;
    grid-row: 2 / 7;
}

.item9 {
    /*background-color: grey;*/
    grid-column: 2 /-1;
    grid-row: 6/7;
}

/*pic item */
.item4 {
    width: 100%;
!important;
    background-color: transparent;
    grid-column: 14 / 21;
    grid-row: 2 / 6;
    opacity: 10; !important
}
.item img {
    border-radius: 2.1px;
    grid-column: 14 / 21;
    grid-row: 2 / 6;
    width: 100%;
!important;
    height: 100%;
!important;
    opacity: 20; !important
}

.item7 {
    /*background-color: grey;*/
    grid-row: 7/8;
    grid-column: 1/-1;

}















