body{
    height:auto;
    width: auto;
    background-image: url("http://images.all-free-download.com/images/graphicthumb/black_pattern_vintage_backgrounds_vector_536697.jpg");

}
.container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 55px 75px 75px 75px 75px 32px 32px;
}
.container-item3{
    grid-row-gap: 0;
}
.item{
    display: flex;
    height: 100%;
    width: 100%;
    opacity: .94;

}
/*header/Nav*/
.item1{

    background-color: grey;
    grid-column: 1 / 11 ;
    background-image: linear-gradient( white, grey, whitesmoke);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
    opacity: .8;
    /*grid-row-gap: 5px;*/
}
.item17{
    background-color: grey;
    grid-column: 11 / 21 ;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
    /*grid-row-gap: 5px;*/
}
.item2{
    background-color: grey;
    grid-row: 2 / 7;
    background-image: linear-gradient( white, grey, whitesmoke);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}

.item3{
    background-color: orange;
    grid-row: 2/3;
    grid-column: 2/11;
    background-image: linear-gradient( orange, darkgoldenrod, orange, yellow);
    border-radius: 3px;
    border: 1px solid grey;
}
/*title writing in first container*/
.item3 p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-right: 3%;

 }
#educationFirst{
    justify-content: flex-start;
    align-items: center;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-left: 3%;
}
.date1educate:hover{
    font-size: 13px;

}
/*left column second down grey*/
.item4{
    background-color: grey;
    grid-column: 2 / 11;
    grid-row: 3/4;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    /*display: grid;*/
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}
.item4 p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-right: 3%;
    margin-left: 3%;
}
#educationSecond{
    justify-content: flex-start;
    align-items: center;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-left: 3%;
}
.date2educate:hover {
    font-size: 13px;
}

/*left column third down orange*/
.item5{
    background-color: orange;
    background-image: linear-gradient(to bottom right, orange, darkgoldenrod, yellow);
    grid-row: 4/5;
    grid-column: 2/11;
    border-radius: 3px;
    border: 1px solid grey;
}
.item5 p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-right: 3%;

}
#educationThird{
    justify-content: flex-start;
    align-items: center;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-left: 3%;
}
.date3educate:hover {
    font-size: 13px;
}

/*left column bottom grey*/
.item6{
    background-color: grey;
    grid-row: 5/6;
    grid-column: 2/11;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}
.item6 p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-right: 3%;
}
#educationFourth{
    /*display: flex;*/
    justify-content: flex-start;
    align-items: center;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-left: 3%;
}
.date4educate:hover {
    font-size: 13px;
}


/*Right column top grey***********************************************************/
.item7{

    background-color: grey;
    grid-row: 2/3;
    grid-column: 11/ 20;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}
.item7 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-left: 3%;
}
#workOne{
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-right: 3%;
}
.date1Work:hover {
    font-size: 13px;
}
/*right column second down orange*/
.item8{
    background-color: orange;
    background-image: linear-gradient( orange, darkgoldenrod, orange);
    grid-row: 3/4;
    grid-column: 11/20;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}
.item8 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-left: 3%;
}
#workTwo{
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-right: 3%;
}
.date2Work:hover {
    font-size: 13px;
}
/*right column third down grey*/
.item9{
    background-color: grey;
    grid-row: 4/5;
    grid-column: 11/ 20;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}
.item9 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-left: 3%;
}
#workThree{
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-right: 3%;
}
.date3Work:hover {
    font-size: 13px;
}
/*right column bottom*/
.item10{
    background-color: orange;
    background-image: linear-gradient( orange, darkgoldenrod, orange);
    grid-row: 5/6;
    grid-column: 11/20;
    border-radius: 3px;
}
.item10 p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width:50%;
    font-size: 12px;
    color: black;
    margin: 0;
    margin-left: 3%;
}
#workFour{
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    color: transparent;
    font-size: 14px;
    width: 50%;
    height: 100%;
    margin: 0;
    margin-right: 3%;
}
.date4Work:hover {
    font-size: 13px;
}
.item11{
    background-color: grey;
    grid-row: 2/7;
    grid-column: 20/21;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}

.item12{
    background-color: grey;
    grid-row: 6/7;
    grid-column: 16/17;
}
.item13{
    background-color: grey;
    grid-row: 6/7;
    grid-column: 17/18;
}
.item14{
    background-color: grey;
    grid-row: 6/7;
    grid-column: 18/19;
}
.item15{
    background-color: blue;
    grid-row: 6/7;
    grid-column: 19/20;
}
.item16{
    background-color: grey;
    grid-row: 7/8;
    grid-column: 1/-1;
    background-image: linear-gradient(to bottom right, white, grey, whitesmoke);
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: solid darkgoldenrod 1px;
}
